<h1>Israeli Mosad</h1>
<p>Welcome to your search Candidate Portal</p>
<div class="row">
    <div class="input-group ">

        <div class="col-sm-4">
            <div class="form-group">
                <label>Technology</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" class="form-control" list="Techs" [(ngModel)]="techName" (change)="BindCandidate($event)">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <datalist id="Techs" class="dropdown-menu">
                    <option class=" dropdown-item" *ngFor="let c of TechnologiesList" [value]="c.name">{{c.name}}</option>
                </datalist>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="input-group ">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Experience</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" class=" form-control" [(ngModel)]="exp" (change)="BindCandidate($event)">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 ">
    <div *ngFor="let candidate of CandidateList2; ">
        <div class="form-group">
            <div class="col-sm-6 list-group">
                <div style="display:none"> {{candidate.candidateId}}</div>
                <h5 class=" list-group-item">{{candidate.fullName}}</h5>
                <div class="list-group-item"> <img src="{{candidate.profilePicture}}" />"</div>
                <div class="list-group-item"> {{candidate.email}}</div>
                <div class="list-group-item"> {{candidate.barcode}} </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="delete(candidate.candidateId);">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

